.contingut {
    grid-template-rows: 1fr 1fr auto;
}

#content{
    margin-right:20px;
}

.titol-descripcion{
    margin-left: 20px;
    margin-bottom: 20px;
}

.titol-descripcion h4{
    font-weight:normal;
}

.content-descripcion{
    padding-right:900px;
}

.info-descripcion p{
    color:#fff;
    margin-left:20px;
    margin-bottom: 20px;
}

.tags{
    left:5px;
}


/* Responsive Mobile */
@media all and (max-width:970px){
    .contingut{
        display:grid;
        grid-template-rows:0fr 0fr 0fr;
    }

    .content-descripcion{
        padding-right:0;
    }
}







