#content{
    margin-right:20px;
}

.titol-descripcion{
    margin-left: 20px;
    margin-top: 30px;
}

.titol-descripcion h4{
    font-weight:normal;
}

.content-descripcion{
    padding-right:900px;
}


/* Responsive Mobile */
@media all and (max-width:970px){
    .contingut{
        display:grid;
        grid-template-rows:0fr 0fr 0fr;
    }

    .content-descripcion{
        padding-right:0;
    }

    .titol-descripcion{
        margin-top:4px;
    }
}







