<!DOCTYPE HTML>
<!-- RECURSOS https://frontbackend.com/thymeleaf/how-to-work-with-fragments-in-thymeleaf -->
<!-- https://attacomsian.com/blog/thymeleaf-fragments -->
<html lang="ca" xmlns:th="http://www.thymeleaf.org">
<body>

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="author" content="Pied Piper" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="ca" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <title>PodCat</title>
    <meta name="description" content="La teva comunitat de PodCast" />
    
    <!-- CDN Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/estils.css" />
    <link rel="stylesheet" type="text/css" href="css/modal.css" />
    <!-- Importem les fonts de Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gajraj+One&family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>

<div th:fragment="nav">
    <!-- Menu Navegacio -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src='images/logoPodCat00blanc.svg' width="35" alt="PodCat"/>
                <div class="titol-logo">PodCat</div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbar-toggler">
                <ul class="navbar-nav ms-auto d-flex justify-content-center align-items-center">
                    <li class="nav-item">
                        <a class="nav-link text-white px-3" href="/">Home</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="nav-item">
                        <a class="nav-link text-white px-3" href="/contacte">Contacte</a>
                    </li>
                    <li class="nav-item"  th:if="${session.usuari == null}">
                        <!-- Boto Modal -->
                        <button type="button" style="padding:12px;" class="modal-buttonnav" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Acces Usuari
                        </button>
                    </li>
                    <li class="nav-item" th:if="${session.usuari != null}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20" height="20"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
                        <a class="text-white px-2" th:text="${session.usuari.username}"></a>
                    </li>
                    <li class="nav-item" th:if="${session.usuari != null}">
                        <a th:if="${session.usuari.rol == 'admin'}"
                            class="nav-link text-white px-3" href="/admin">admin</a>
                    </li>
                    <li class="nav-item" th:if="${session.usuari != null}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20"><path d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V256c0 17.7 14.3 32 32 32s32-14.3 32-32V32zM143.5 120.6c13.6-11.3 15.4-31.5 4.1-45.1s-31.5-15.4-45.1-4.1C49.7 115.4 16 181.8 16 256c0 132.5 107.5 240 240 240s240-107.5 240-240c0-74.2-33.8-140.6-86.6-184.6c-13.6-11.3-33.8-9.4-45.1 4.1s-9.4 33.8 4.1 45.1c38.9 32.3 63.5 81 63.5 135.4c0 97.2-78.8 176-176 176s-176-78.8-176-176c0-54.4 24.7-103.1 63.5-135.4z"/></svg>
                        <a class="nav-link text-white px-2" href="/logout">logout</a>
                    </li>
                </ul>
            </div> 
        </div>
    </nav>
    <!-- Formulari Registre Usuaris Modal -->
    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-center">
            <div class="modal-content">
                <div class="title-formulari">
                    <img src="images/logoPodCat00blanc.svg" width="35"/>
                    <h1>PodCat</h1>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" alt="Tancar finestra"></button>
                    <div class="formulari-registre">
                        <h3 class="text-center text-white">Registre Usuaris</h3>
                        <br>
                        <form action="/registre" method="post">
                            <input class="controls form-control" type="text" name="username" placeholder="Nom d'usuari" required/>
                            <input class="controls form-control" type="text" name="nom" placeholder="Nom" required/>
                            <input class="controls form-control" type="text" name="cognom" placeholder="Cognom" required/>
                            <input class="controls form-control" type="email" name="email" placeholder="Correu electrònic" required/>
                            <input class="controls form-control" type="password" name="password" placeholder="Contrasenya" required/>
                            <br><br>
                            <div class="bt">
                                <button type="submit" class="btn-registre">Registra't</button>
                            </div>
                        </form>
                        <div class="condicions">
                            <p>* En registrar-te, acceptes les nostres condicions d'ús, la nostra política de privadesa i cookies. No us preocupeu, no compartirem la vostra informació amb tercers.</p>
                        </div>                
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Formulari Accés Usuaris Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-center">
            <div class="modal-content">
                <div class="title-formulari">
                    <img src="images/logoPodCat00blanc.svg" width="35"/>
                    <h1>PodCat</h1>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" alt="Tancar finestra"></button>
                    <div class="formulari-entrar">
                        <h3 class="text-center text-white">Accés Usuaris</h3>
                        <br>
                        <form action="/login" method="post">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="username" class="form-control" placeholder="Usuari" name="username" required/>
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Contrasenya" name="password" required/>
                            </div>
                            <br>
                            <div class="form-group text-center">
                                <button type="submit" class="btn-entrar">Entra</button>
                            </div>
                            <div class="login-entrar">
                                <button type="button" class="modal-buttonnav modal-registre" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                                    Registra't a la nostra web
                                </button>
                            </div>
                        </form>
                            <div class="login-help">
                                <a href="#">Has oblidat la teva contrasenya?</a>
                            </div>
                            <div class="condicions">
                                <p>* En accedir amb les teves dades acceptes les nostres Condicions legals, Condicions de venda, Política de privadesa i Política de cookies.</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<aside th:fragment="aside">
    
</aside>



<footer th:fragment="footer">
    <p>
        Grup 1: PIED PIPER
        <br>
        <img src='images/logoPiedPiper00segon.svg' width='80' height='80'>
    </p>
    <p>
        IOC 2022 S2
        <br>
        DAW Desenvolupament d'Aplicacions Web
        <br>
        M12B0 Projecte de desenvolupament d'aplicacions web
        <br>
        Projecte: PodCat
    </p>
</footer>

<div th:fragment="scripts">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script> 
</div>

</body>
</html>